.vagrant

# Secrets: hide my real secrets
saltstack/salt/secret.json
saltstack/pillar/secrets.sls

# Hide my real settings
saltstack/pillar/settings.sls

# Other files
reminder.md

# Templates
repo_templates
